* {margin: 0; padding: 0;}
a {text-decoration: underline; color: blue;}
ul {list-style: none;
	list-style-image: none;
	list-style-type: none;
}
a img, form, fieldset {border: 0;}
h1, h2, h3, h4, h5 {font-weight: normal;}
body {font:12px/120% "宋体", Arial, Helvetica, sans-serif;}
form {margin:0;padding:0;}
button {cursor:pointer;}
.imagb {border:1px solid #CDCBCC; background-color:#ffffff; padding:1px;}

.c_black {color:#000000; font-size:14px;}


input:focus textarea:focus {background-color:#F4FFE4}

fieldset.user_search {margin-bottom: 3px;}
fieldset.user_search .friend {border: 2px solid red;}
fieldset.user_search img {vertical-align: middle;}

fieldset th {
	font-weight:normal;
	text-align:right;
	width:11em;
	font-size:14px;
	line-height:16px;
}

fieldset th, fieldset td,  {
	word-break:break-all;
}


blockquote {margin:1.5em 0;padding:0 1.5em;}

a {color:#D05D02;}
a:hover {color:#F87A01;}

.subhead {text-align:center;font-family:"宋体", Georgia, Times, "Times New Roman", serif;margin-bottom:1.5em;font-style:italic;}
.notice {border:1px solid #900; margin:1em 22em; padding:1em 1em 1em 3em; background:#FFD9D9;}

#accessibility, #navigation h3, #footer h3 {position: absolute; left: -8888px; overflow: hidden;}
.error {color:#F00;font-size:12px;margin:.5em;font-weight:bold;}

.separator { height:104px; border:1px solid #D3D3D5; width:774px; margin:1px auto 0 auto; background:url(../images/org-note-bg.gif) repeat-x center;}
 .separator div {height:79px; float:left; width:257px; margin-top:15px; background-repeat:no-repeat; background-position:left center;}
 .separator .note1 { background-image:url(../images/org-note1.gif);}
 .separator .note2 { background-image:url(../images/org-note2.gif);}
 .separator .note3 { background-image:url(../images/org-note3.gif);}
 .separator h2 {color:#FF6000; font-weight:bold; margin-left:87px; margin-top:30px; font-size:14px;}
 .separator p {line-height:26px; margin-left:87px;}


#header {margin:0 auto; height:80px;width:776px; border-bottom:5px solid #F97B00;}
  #navigation {}
  #header h2 {width:175px; height:63px; float:left; background:url(../images/org-logo.gif) no-repeat; margin-top:16px; margin-left:0px;}
  #header h2 a {width:175px; height:63px; display:block; text-indent:-8000px;}
  #header .tip { width:295px; height:26px; line-height:26px; background:url(../images/org-tip.gif) no-repeat; text-indent:25px; color:#5E7C1C; position:absolute; margin-top:17px;}
  html>body #header .tip {margin-left:170px;}
  *+html #header .tip {margin-left:0!important}
  #header .tip a {font-weight:bold; margin-left:5px;}

#navigation ul { float:right; margin-top:48px; margin-bottom:0;}
	html>body #navigation ul  {margin-top:45px;}
#navigation li { float:left; width:78px; margin:2px 0 0 3px;}
#navigation .line1 {background-color:#BDBDBD; width:78px; /*border-left:1px solid #ffffff; border-right:1px solid #ffffff;*/ line-height:1px; height:1px; overflow:hidden;}
#navigation .nav {background-color:#BDBDBD; width:78px;}
#navigation .nav a {background-color:#F7F7F7; border:1px solid #ffffff; display: block; width:74px; height:30px; line-height:36px; text-align:center; margin:0 1px; color:#242424; text-decoration:none; overflow:hidden;}
#navigation .nav a.now {background-color:#F97B00; border:none; width:76px; height:32px; line-height:38px; color:#ffffff;}


#container { margin:0 auto; width:776px; }
.account #container { border:1px solid #D3D3D5; margin:8px auto; width:774px;}
#settings #container { border:1px solid #D3D3D5; margin:8px auto; width:774px; background-color:#F2F2F2; }

#content {width:534px; float:left; margin:10px 13px 0 0; overflow:hidden;  }
  #content #wrapper { }
  #content ul {margin:0;padding:0 1.5em;}
  #content #permalink h2 { background:transparent url(http://asset.jiwai.de/img/arr.gif) no-repeat scroll 335px 0pt; font-size:2em; padding:16px 0pt 5px 321px; }
  #content h2.thumb img { border:1px solid #999999; vertical-align:middle; }



#sidebar { width:229px; float:right; overflow:hidden;}
  #sidebar h3#sidebar_title {margin:0;background:url(h_sidebar.gif) no-repeat 0 0;text-indent:-8000px;height:42px;}
  #sidebar .sidebar_footer {margin:0;background:#FFF url(f_sidebar.gif) no-repeat 0 0;height:35px;padding:10px 20px;}
  #sidebar button {background-color:#F97B00; border:none; line-height:23px; height:21px; text-align:center; padding:0 8px; color:#FFEFC8; font-weight:bold; overflow:hidden;}
  .sidediv {border:1px solid #D3D3D5; background-color:#ffffff; padding:3px; margin-top:11px;}
  #login form { background-color:#F2F2F2;}
  #login h2 {font-size:14px; font-weight:bold; background:url(../images/org-icon-man.gif) #f2f2f2 no-repeat 10px 12px ; text-indent:27px; line-height:40px; }
  #login input {border:1px solid #B5B5B5; width:152px; height:20px;}
  #login #remember_me {border:none; width:16px; height:16px;}

  #sidebar .msg {padding:8px 10px; background-color:#f2f2f2; }
  #sidebar .msg img {border:1px solid #CCCCCC; padding:1px; background-color:#ffffff; margin-right:8px;}
  #sidebar #update_count {background-color:#f2f2f2;}
  #update_count a {line-height:26px; color:#C55400; margin-left:12px; font-size:14px; text-decoration:underline;}
  #update_count a:hover { color:#515151; text-decoration:none;}
    #sidebar #friends img {padding: 0px;}
    #sidebar #friends .non-friend {opacity: .7; filter: alpha(opacity=70);}
	#sidebar .about {background-color:#f2f2f2; padding:0 10px 10px 10px; line-height:20px;}
	#sidebar .actions {background-color:#f2f2f2; padding:10px;}
	#sidebar .actions li a{ display:block; height:26px; line-height:26px; border:1px solid #D3D3D5; text-indent:8px; font-weight:bold; color:#515151; text-decoration:none; margin:5px 0;}
	#sidebar .actions li a:hover { background-color:#F97B00; color:#ffffff;}
	
	#sidebar #friend a {display:block; float:left; width:50px; height:74px; line-height:24px;color:#D05D00; text-decoration:none; overflow:hidden;}
	#sidebar #friend a img { display:block; border:1px solid #f2f2f2; padding:1px; width:46px; height:46px; background-color:#ffffff;}
	#sidebar #friend a:hover {color:#FF830B;}
	#sidebar #friend a:hover img {border:1px solid #F97B00; padding:1px; background-color:#ffffff;}
	
	
	

  #sidebar ul { }
  #sidebar .line {background-color:#f2f2f2; padding-top:17px;}
  #sidebar .line div{ width:200px; margin:0 auto; border-bottom:1px solid #ffffff; height:1px; background-color:#C7C7C7; padding:0; overflow:hidden;}

  #sidebar fieldset {border:0;margin:0;padding:0 0px ;}


  #sidebar .register {background: #F2F2F2; text-align:center;}
  .register h2 {font-size:14px; font-weight:bold; text-indent:10px; line-height:40px; text-align:left;}
    #sidebar .register .join {font-size: 1.5em; background: yellow;}


  #sidebar .featured { background: #F2F2F2; padding:10px;}
  /*.featured h2 {font-size:14px; font-weight:bold; line-height:20px; background:url(../images/org-icon-dot.gif) #f2f2f2 no-repeat left 1px; text-indent:15px; margin-bottom:3px;}
  html>body .featured h2 {margin-bottom:5px;}*/
  .forul {font-size:14px; font-weight:bold; line-height:20px; background:url(../images/org-icon-dot.gif) #f2f2f2 no-repeat 10px 12px; text-indent:15px; padding:10px 0 0 10px;}
  /*html>body .forul {margin-bottom:5px;}*/
  .featured li {}
  .featured li a {display:block; width:198px; line-height:24px; height:24px; border:1px solid #f2f2f2; text-decoration:none; text-indent:8px; color:#515151;}
  .featured li a:hover {border-top:1px solid #CFCFCF; border-bottom:1px solid #ffffff; border-left:1px solid #CFCFCF; border-right:1px solid #ffffff; color:#FF830B;}
  .featured .new {font-weight:bold;}
  .featured .new img {margin-left:3px;}
  #sidebar .but { background-color:#f2f2f2; text-align:center; padding-top:10px;}
  #sidebar .but button { padding:0; margin:0 3px; font-weight:normal; line-height:20px; height:19px;}
	
  .com td {  line-height:24px; width:25%;}
  .com td div { height:74px; overflow:hidden;}
  .com img {display:block; border:1px solid #f2f2f2; padding:1px; width:46px; height:46px;}
  .com a {color:#D05D00; text-decoration:none;}
  .com a:hover { color:#FF830B;}
  .com a:hover img {border:1px solid #F97B00; padding:1px; background-color:#ffffff;}
  
  #sidebar .newuser a {color:#D05D00;}
  #sidebar .newuser a:hover { color:#FF830B;}
  #sidebar .tip {background:url(../images/org-tipimg-bg.gif) no-repeat; padding:4px 10px 4px 4px; position:absolute; margin-left:-100px; z-index:100; margin-top:-13px;}



#content #doingForm { background:url(../images/org-doing-bg.gif) #ffffff repeat-x bottom; height:158px; overflow:hidden; border:1px solid #D3D3D5; margin-bottom:12px;}
#content #doingForm .bar {line-height: 2.5em; position: relative; padding-left: 10px; margin: 0px}
#content #doingForm .bar h3 { font-size:15px ; font-weight:bold; color: #000; padding: 5px 170px 0 0;}
#content #doingForm .bar span { font-size:12px; display: block; position: absolute; top: 0; right: 10px; color:#A2A2A2;}
#content #doingForm .bar span#submit_loading {padding-top:.3em;}
#content #doingForm textarea {width: 100%; margin:0; padding: 9px; height: 48px; width:490px;border-color: #D0D0D0; font: 1.15em/1.1 Helvetica, Arial, sans-serif; background: #fff; overflow:auto;}
#content #doingForm .submit { padding-top: 9px; text-align:center;}
.howtojiwai {background:url(../images/org-icon-ji.gif) no-repeat 10px 2px; text-indent:28px; text-align:left; color:#F77E08; float:left; }

#content .tabMenu { position:absolute; margin-left:270px; margin-top:7px;}
html>body #content .tabMenu {margin-top:19px;}
*+html #content .tabMenu {margin-top:7px!important}
#content .tabMenu li { float:left; margin-left:4px;}
#content .tabMenu li a {display: block; background:url(../images/org-tab-on.gif) no-repeat; width:73px; height:30px; text-align:center; line-height:34px; overflow:hidden; font-weight:bold; font-size:14px; text-decoration:none; color:#ffffff;}
#content .tabMenu li.active a {background:url(../images/org-tab-off.gif) no-repeat; color:#000000;}
#content .tab {background: transparent; padding: 0;}
#content .tab #ad {text-align: center;}
#content .tab p {text-indent: 1em;}


#timeline { border:1px solid #D3D3D5; margin-top:6px; height:100%; background-color:#ffffff;}

.layout_table {margin:0; padding:0;}
.bg_tab_top_left { width:2px; height:46px; background:url(../images/org-tit-l.gif) no-repeat right; font-size:1px; overflow:hidden;}
.bg_tab_top_mid { background:url(../images/org-tit-bg.gif) #FF8F0D repeat-x;}
.bg_tab_top_right { width:2px; height:46px; background:url(../images/org-tit-r.gif) no-repeat left; font-size:1px; overflow:hidden;}

.bg_tab_top_mid h2 { font-size:15px; color:#FFEFC8; font-weight:bold; text-indent:15px; line-height:15px; margin-top:0px; float:left;}
.bg_tab_top_mid h2 a {color:#000000;}
.bg_tab_top_mid h2 a:hover {color:#FFEFC8;}
.bg_tab_top_mid input {border:1px solid #A23D00; width:96px; height:19px; line-height:18px; float:right; margin:0 5px 0 0; text-indent:5px;}
.bg_tab_top_mid button {width:38px; float:right; height:22px; margin:0 5px 0 0;}

.even {background-color:#ffffff;}


.odd { padding:8px 16px; height:100%; clear:both; background-color:#ffffff;}
#content .line {height:1px; overflow:hidden; background-color:#DDE0E3; margin:0 auto; clear:both; width:500px;}
.odd .head {float:left; width:64px; overflow:hidden; height:62px;}
	.odd .head img {border:1px solid #CCCCCC; padding:1px; background-color:#ffffff;}
.odd .name {color:#D05D00; padding-right:10px;}
.normal .odd .cont { border:1px solid #FFCFA8; padding:6px 6px 22px 6px;}
 .odd .cont .bg { background: url(../images/org-con-bg.gif) no-repeat left; width:10px; height:13px; position:absolute; margin-left:-14px;}
 html>body .odd .cont .bg {margin-top:4px;}
 *+html .odd .cont .bg {margin-top:0!important}
.front .odd .cont .bg  {display:none;}
.normal .odd .head {}
.normal #content .line {background-color:#ffffff;}
.odd .cont {font-size:14px; line-height:22px; height:100%; overflow:hidden; background-color: white;}
.odd a:hover {color:#FF830B; text-decoration:underline;}
.odd .meta ,.odd .meta a{color:#929292; padding:0 3px; font-size:12px;}
.undo {font-size:12px; padding:0 5px; color:#FF830B;}
.direct_messages .odd .cont {font-size:14px; line-height:22px; height:100%; width:264px; float:left;}
.direct_messages .odd .write {font-size:14px;float:left; width:64px; line-height:22px; text-align:center; margin:0 12px;}
.direct_messages .odd .time {width:60px; float:left; line-height:18px; text-align:center; color:#A2A2A2;}
.direct_messages .odd .head {float:left; width:64px;  height:62px; text-align:center;}

.direct_messages #tips {border:1px solid #D3D3D5; border-bottom:none; background-color:#FFF996; line-height:22px; text-indent:12px; text-align:left;}
.direct_messages #tips a {float:right; padding-right:12px; color: #000000; font-family:Verdana, Arial, Helvetica, sans-serif; text-decoration:none;}


#permalink .odd .head {float:left; width:110px; overflow:hidden; height:100px;}
#permalink .odd .head img {border:1px solid #FF9936; padding:2px; background-color:#ffffff;}
#permalink .odd .cont .bg { background: url(../images/org-con-bg-big.gif) no-repeat left; width:10px; height:13px; position:absolute; margin-left:-14px;}
#permalink .odd .cont { border:2px solid #FFCFA8; padding:6px;}
#permalink .odd .cont a { font-size:12px;}
#permalink .odd .cont h3 { font-weight:bold;}


#show #content {border:1px solid #CECECE; background-color:#ffffff; width:774px; padding:0; margin:8px 0 0 0;}
#show #content #permalink {margin:20px 40px;}
#show .odd .cont .bg {margin-left:-16px;}




.jiwai_icon_vtab { text-align:center;} 
.jiwai_icon_vtab_inner { border:1px solid #D0D0D0;}

.buttonSubmit, .buttonSubmitHovered {
	background:transparent url(../images/org-button-jwyx.gif) no-repeat scroll left top;
	border:medium none;
	color:#FFFFFF;
	cursor:pointer;
	font-weight:bold;
	height:33px;
	padding:2px 5px;
	width:112px;
}
.buttonSubmitHovered {
	background-position:left bottom;
}


.pagination {
	margin-top: 10px;
	float: right;
}
	.pagination table {background-color:#F2F2F2; border:1px solid #D3D3D5; border-bottom:none; width:100%;}
	.pagination table td {text-align: center; line-height:22px;}
.pagination li {
	float: left;
	padding: 0 7px;
}

.statuses_options {
	padding: 5px;
	margin-top:10px;
	width: 60px;
}

.rss {
	background:transparent url(http://asset.jiwai.de/img/rss.gif) no-repeat scroll 90% 50%;
	padding:5px 23px 5px 8px;
	right:0pt;
	text-decoration:none;
	text-transform:uppercase;
	top:16px;
}
.rsshim { display:block; background:url(../images/org-rss-bg.gif) #f2f2f2 no-repeat center; height:27px; line-height:27px; text-indent:34px; text-align:center; margin:0 auto; padding:10px; color:#515151; font-size:12px; text-decoration:none;}

#footer { height:32px; clear:both; margin:0 auto; width:776px; border-top:1px solid #CECECE; border-bottom:5px solid #F97B00; background-color:#f2f2f2;}
  #footer ul { text-align: center; }
  #footer ul li { display: inline; line-height:32px; padding:0 10px; font-family:Verdana, Arial, Helvetica, sans-serif; }
  #footer, #footer a {color:#7D7D7D;}
  #footer a:hover {color:#D05D00; text-decoration:underline;}

  body.normal #flaginfo {background: url(http://asset.jiwai.de/img/flag.gif) no-repeat 0 0;position:absolute;left:50%;top:105px;margin-left:-499px;text-align:right;width:89px;height:26px;color:#FFF;text-transform:uppercase;font-size:11px;padding:2px 4px 0 0;font-weight:bold;}

#content h2.thumb {
	font-size:3em;
}
h2.thumb, h2.thumb a {
	color:#000000;
}
#content div.desc {
	background:transparent url(http://asset.jiwai.de/img/arr2.gif) no-repeat scroll 14px 0px;
	margin-top:6px;
	padding-top:11px;
}

#content div.desc .meta {
	font-size:1em;
	font-weight:normal;
	padding:2px 7px;
	text-align:right;
}

#content div.desc h1 {
	margin-right: 15px;
	display:block;
	font-size:2.12em;
	font-weight:bold;
	line-height:1.2em;
	padding:7px;
	background: #f0f7d9;
}
#content div.desc p {
	background:#F0F7D9 none repeat scroll 0%;
	display:block;
	font-size:2em;
	font-weight:bold;
	line-height:1.5em;
	padding:7px;
	margin-right: 15px;
}


.not_verified {
	background-color:#FFC;
}
.device .thumb img {
border:1px solid gray;
}

.subpage #content h1, .subpage #content h2, .subpage #content h3, .subpage #content h4, .subpage #content h5 {
	margin:13px 0pt 4px;
}
h1, h2, h3, h4, h5 {
font-weight:normal;
}

.subpage #content tr.not_verified code {
	color:green;
	display:block;
	font-size:2em;
	font-weight:bold;
	text-align:center;
}

#ad {
	padding:0px 0pt 5px 321px;
}

#front h2 em { background-color: yellow; font-style: normal; }

input.openid_login {
   
}

.pages {float:right; width:300px; padding-top:5px; height:100%;}
.pages a { float:left; border:1px solid #E3E3E3; padding:2px 5px; background-color:#F7F7F7; color:#C55400; font-family:Verdana, Arial, Helvetica, sans-serif; margin:5px; text-decoration:none;}
.pages .now {border:none; background-color:#ffffff; color:#000000; font-weight:bold;}

.add {clear:both; padding:10px 0 15px 15px;}
.search { width:170px; padding-top:10px; height:100%; float:left;}
.search input {border:1px solid #A23D00; width:96px; height:19px; line-height:18px; margin:0 5px 0 0; text-indent:5px;}
.search button {width:38px; height:22px; margin:0 5px 0 0;}

.droplist {background:url(../images/org-drop-bg.gif) no-repeat; width:80px; height:21px; position:absolute; margin-top:-5px; cursor:pointer;}
html>body .droplist {margin-top:-20px; margin-left:100px;}
*+html .droplist{margin-top:-5px!important; margin-left:0!important}
.droplist li { display:none; color:#FFEFC8; text-indent:18px; line-height:21px; font-size:12px;}
.droplist .slect {background:url(../images/org-drop-icon.gif) no-repeat right 8px; display:block;}
.droplistopen {background:url(../images/org-drop-bg.gif) no-repeat; width:80px; height:63px; position:absolute; margin-top:-5px; cursor:pointer;}
html>body .droplistopen {margin-top:-20px; margin-left:100px;}
*+html .droplistopen {margin-top:-5px!important; margin-left:0!important;}

.droplistopen .slect {background:url(../images/org-drop-icon.gif) no-repeat right 8px;}
.droplistopen li { color:#FFEFC8; text-indent:18px; line-height:21px; font-size:12px; background-color:#F97B00; border-bottom:1px solid #FFEFC8;}


#regok #container h2 {font-size:15px; font-weight:bold; width:550px; margin:0 auto; line-height:50px; border-bottom:1px solid #C2C2C2; text-indent:10px; color:#D05E00;}
.account #container h2 {font-size:15px; font-weight:bold; width:750px; margin:0 auto; line-height:50px; border-bottom:1px solid #C2C2C2; text-indent:10px;}
#settings #container h2 {font-size:15px; font-weight:bold; width:690px; margin:0 auto; line-height:50px; border-bottom:1px solid #C2C2C2; text-indent:10px;}

#invite #container h2 {width:550px;}
.account table {margin:20px auto 0 auto;}
.account table td {font-size:14px; line-height:24px; vertical-align:top;}
.account .regnow {position:absolute; margin-top:-12px;}
.account table td input, .account table td textarea{border-bottom:1px solid #E4E4E4; border-left:1px solid #CFCFCF; border-top:1px solid #929292; border-right:1px solid #CFCFCF; width:228px; height:24px; line-height:24px; padding-left:5px; display:block;}
.input {border-bottom:1px solid #E4E4E4; border-left:1px solid #CFCFCF; border-top:1px solid #929292; border-right:1px solid #CFCFCF; width:228px; height:24px; line-height:24px; padding-left:5px;}
.account table .note {font-size:12px; color:#989898;}
.account #container ul {width:360px; margin:10px auto 10px auto;}
.account #container ul li {height:32px; line-height:32px;}
#settings .but { width:700px; text-align:left; margin:10px auto 10px auto; text-indent:140px;}
#regok #container p {width:500px; margin:0 auto; display:block; line-height:30px; margin-top:20px; font-size:14px;}
#regok  #container ul {width:500px; margin:10px auto 10px auto;}
#invite #container p {width:700px; margin:0 auto; display:block; line-height:30px; margin-top:20px; font-size:14px;}
#regok .but {width:500px; margin:10px auto 10px auto;}
#invite .but {width:500px; margin:10px auto 10px auto; text-align: center;}
.subtab {height:30px; clear:both;}
html>body .subtab {height:31px; clear:both;}
*+html .subtab {height:30px!important; clear:both!important;}
#settings .subtab {width:740px; margin:10px auto 0 auto;}
.subtab a {display:block; float:left; line-height:23px; height:23px; margin:7px 2px 0 0; padding:0 8px; border:1px solid #D3D3D5; border-bottom:none; color:#000000; font-size:12px; text-decoration:none; background-color:#ffffff;}
#settings .subtab a {width:72px; text-align:center;}
.subtab .now {background-color:#FFC892; border:1px solid #FFC892; border-bottom:none;}
#container .tabbody { margin:0 auto; border:1px solid #FFC892; width:548px; padding:0;}
#settings #container .tabbody { width:738px;background-color:#ffffff;}
#container .tabbody div { padding:20px 15px 0 15px;}
.tabbody p {line-height:30px; text-indent:50px;}
#invite #content {width:550px; margin:0 auto; float:none; clear:both;}
#invite #container {background-color:#ffffff;}
#create #container {background-color:#ffffff;}
#regok #container {background-color:#ffffff;}
#friends #container {background-color:#ffffff; padding-top:30px;}
#friends #container p{width:550px; line-height: 120%; margin:20px auto 0 auto; float:none; clear:both; font-size:16px;}
#friends #container .but {width:550px; margin:30px auto 10px auto; text-align:center;}

small {color:#989898; vertical-align:top; font-size:12px;}

#settings #container .tabbody h3 { padding-left:150px; line-height:70px; margin-top:20px; font-size:14px;}
.list_ji {font-size:14px; font-weight:bold; line-height:30px;}
.list_ji li { background:url(../images/org-icon-ji.gif) no-repeat left 10px; text-indent:20px; font-size:14px; font-weight:bold; color:#000000;}
.list_ji li a {color:#000000;}

.orgbut {border:none; background-color:#F97B00; color:#ffffff; line-height:18px; height:18px; padding:0 5px; margin-top:5px;}
.alt {background:url(../images/org-chatalt-bg.gif) no-repeat; width:296px; height:50px; display:block; margin-bottom:10px; margin-top:5px;}
.chat input {margin-left:12px;}
.account .chat td input { width:272px;}

.tipnote {clear:both; height:30px; background-color:#FFF996; height:21px; line-height:21px; border:1px solid #C2C2C2; margin-top:3px; text-indent:20px;}
	.tipnote #actions {float:right; line-height:21px; margin-right:10px; color:#000000; font-family:Verdana, Arial, Helvetica, sans-serif; text-decoration:none;}
	
.tipnote-red {clear:both; height:30px; background-color:#FF0000; height:21px; line-height:21px; border:1px solid #C2C2C2; margin-top:3px; text-indent:20px; color:#ffffff;}
	.tipnote-red #actions {float:right; line-height:21px; margin-right:10px; color:#ffffff; font-family:Verdana, Arial, Helvetica, sans-serif; text-decoration:none;}

.float {border:5px solid #FFCFA8; background-color:white; margin:0 auto; width:500px; padding:9px 15px;}
	.float h3 {font-size:16px; font-weight:bold; color:#EB6400; line-height:50px; text-align:center;}
	.float h2 {font-size:14px; color:#000000; font-weight: bold; margin-top:5px;}
	.float p {line-height:26px;}
	.float textarea {width:498px; border:1px solid #D3D3D5; height:50px;}
	.float .orgbut {margin:8px 20px 8px 0;}
	
.account #container .liketable {height:100%; margin:0 15px; width:500px; padding:8px 0; clear:both;}
.account #container .liketable li {float:left; line-height:20px; overflow:hidden; height:20px;}
	.liketable .img {border:1px solid #CDCBCC; background-color:#ffffff; padding:1px; float:left; margin:0 25px 0 0;}
	.liketable .name {width:200px; font-size:14px; text-indent:5px;}
	.liketable .nob {width:60px; color:#929292; text-align:center;}
	.liketable .time {width:100px; color:#929292; text-align:center;}
	.liketable .note {width:420px; text-indent:5px;}
	.liketable .action {width:420px; color:#D05D00;}
		.liketable .action a {margin:0 5px;}
	#myfriend .liketable .action {margin-top:10px;}
#container .tabbody .clear {font-size:1px; height:1px; overflow:hidden; float:none; clear:both; width:520px; margin:0 auto; border-bottom:1px solid #DDE0E3; padding:0;}
html>body #container .tabbody .clear { padding:4px;}
*+html #container .tabbody .clear { padding:0!important;}

.account .tablehead { background-color:#F2F2F2; margin-top:0; border-bottom:1px solid #D3D3D5;}
.account .tablehead td {border-right:1px solid #D3D3D5; border-left:1px solid #ffffff;  font-size:12px; text-align:center; line-height:19px;}
.account .tablehead td a {color:#000000; text-decoration:none;}
a.extlink { background:transparent url(../images/extlink.gif) no-repeat scroll left center; padding-left:16px; color: gray; }

/*===button===*/
a.button {background:url(../images/org-button-bg.gif) no-repeat top; width:112px; height:33px; display:block; text-align:center; vertical-align:middle; float:left; margin-right:15px;}
a.button:hover{background-position:bottom;}
a.button img { margin-top:8px;}

a.button2 {background:url(../images/org-button-bg2.gif) no-repeat top; width:112px; height:33px; display:block; text-align:center; vertical-align:middle; float:left; margin-right:15px;}
a.button2:hover{background-position:bottom;}
a.button2 img { margin-top:8px;}

/*======pop======*/
#container .tabbody .pop { padding:5px 0 0 15px;}
#container .tabbody .pop .poptop{background:url(../images/org-pop-top.gif) no-repeat bottom; width:281px; height:4px; padding:0;}
#container .tabbody .pop .popbg {background:url(../images/org-pop-bg.gif) repeat-y right; width:269px; padding:0 6px; font-size:12px;}
#container .tabbody .pop .popleft{background:url(../images/org-pop-left.gif) no-repeat; width:12px; height:11px; position:absolute; margin-left:-17px; margin-top:5px;}
#container .tabbody .pop .popbottom {background:url(../images/org-pop-bottom.gif) no-repeat top; width:281px; height:4px; padding:0;}
