* {margin: 0; padding: 0;}
a {text-decoration: underline; color: blue;}
ul {list-style: none;
	list-style-image: none;
	list-style-type: none;
}
a img, form, fieldset {border: 0;}
h1, h2, h3, h4, h5 {font-weight: normal;}
body {color:#FFF;background:#fff;font:12px/120% "宋体", Arial, Helvetica, sans-serif;}
form {margin:0;padding:0;}


input:focus textarea:focus {background-color:#F4FFE4}

fieldset input[type="text"], fieldset input[type="password"], fieldset select, fieldset checkbox, fieldset textarea {
						margin-right: 3px; border: 1px solid #aaa; padding: 4px 2px; font-size: 1em; }
fieldset input[type="text"], fieldset input[type="password"] { width: 12em; }
fieldset.user_search {margin-bottom: 3px;}
fieldset.user_search .friend {border: 2px solid red;}
fieldset.user_search img {vertical-align: middle;}

fieldset th {
	font-weight:normal;
	padding-top:10px;
	text-align:right;
	width:11em;
}

fieldset th, fieldset td, #timeline td {
	padding:7px 3px;
	vertical-align:top;
}


blockquote {margin:1.5em 0;padding:0 1.5em;}

a {color:#690;}
a:hover {color:#333;}

.subhead {text-align:center;font-family:"宋体", Georgia, Times, "Times New Roman", serif;margin-bottom:1.5em;font-style:italic;}
.notice {border:1px solid #900; margin:1em 0; padding:1em 1em 1em 3em; background:#FFD9D9;}

#accessibility, #navigation h3, #footer h3 {position: absolute; left: -8888px; overflow: hidden;}
.error {color:#F00;font-size:12px;margin:.5em;font-weight:bold;}

.separator { visibility:hidden; border:0;height:26px;}


#header {position:relative;margin:0 auto; padding:0 auto; background:#333 url(http://asset.jiwai.de/img/jiwai-beta.gif) repeat-x 0 0;height:74px;width:100%;}
  #navigation {position: relative;margin:0 auto; /*min-width:755px; max-width:900px; width:95%; */ width:800px}
  #header a.header {display:block;text-indent:-9999px;overflow:hidden;}
  #header a {margin-left:10px;text-decoration:none;color:#fff;font-weight:bold;}
  #header h2 {width:200px;margin:0;padding:0;background:transparent url(http://asset.jiwai.de/img/jiwai_logo_2.gif) no-repeat top left;}
  #header h2 a {height:74px;}

#navigation ul {position: absolute; top: 16px; right: 32px; padding: 6px 3px; line-height: 1;}
#navigation li {display: inline; padding: 0 0 0 2px;}
#navigation li:before {content: '|'; padding-right: 4px;}
#navigation li.first:before {content: ''; padding-right: 0;}


/*
  #header ul {margin:0;padding:0;list-style:none;list-style-position:outside;position:absolute;left:527px;top:22px;}
    #header li { float:left;}
*/

#container { margin:0 auto; /*min-width:755px; max-width:900px; width:95%; */ width:800px; color:#333;background:transparent;border:0px solid #9C0;border-width:0 0px;overflow:hidden;min-height:400px;}


#content {width:100%; float:left; margin:20px 0 0 -225px; border-right:1px solid #9C0; line-height:2em; overflow:hidden; }
  #content #wrapper { margin: 10px 0; margin-left:235px; padding:0 0 1em 20px;}
  #content ul {margin:0;padding:0 1.5em;}
  #content #permalink h2 { background:transparent url(http://asset.jiwai.de/img/arr.gif) no-repeat scroll 335px 0pt; font-size:2em; padding:16px 0pt 5px 321px; }
  #content h2.thumb img { border:1px solid #999999; vertical-align:middle; }



#sidebar { border-width:1px 2px 2px 1px; border-style:solid; border-color: #87bc44; padding:12px; margin:10px;width:175px;background-color:#C3E169; float:right}
  #sidebar h3#sidebar_title {margin:0;background:url(h_sidebar.gif) no-repeat 0 0;text-indent:-8000px;height:42px;}
  #sidebar .sidebar_footer {margin:0;background:#FFF url(f_sidebar.gif) no-repeat 0 0;height:35px;padding:10px 20px;}

/* #sidebar div.msg {padding: 10px 5px 10px 30px; background: url(http://asset.jiwai.de/img/jiwai.gif) no-repeat 0% 50%;}*/
  #sidebar div.msg {padding: 10px 5px 10px 40px; background: url(http://asset.jiwai.de/img/jiwai_chick.gif) no-repeat 0% 50%;}
    #sidebar div.msg h3 {padding: 10px 0; font-size: 1.25em;}
    #sidebar div.msg strong {display: block; font-size: 1.3em;}

    #sidebar #friends img {padding: 0px;}
    #sidebar #friends .non-friend {opacity: .7; filter: alpha(opacity=70);}

  #sidebar ul {margin: 8px 0; padding:0 }

  #sidebar fieldset {border:0;margin:0;padding:0 0px ;}

  #sidebar .signin {}
    #sidebar .signin input[type="text"], #sidebar .signin input[type="password"] {width:158px;border:1px solid #9C0;font-size:16px;padding:2px 4px;margin-bottom:2px;}
	#sidebar .signin label {padding-left: 1px;}
	#sidebar .signin #remember_me {display: block; float: left; margin-right: 4px;}
	#sidebar .signin div {margin: 2px 0 4px;}

  #sidebar .register {border: 1px solid #87bc44; background: #fff; padding: 2px 5px; font-weight: bold; 
							margin: 20px -3px; text-align: center; line-height: 1.5; padding: 5px 0;}
    #sidebar .register .join {font-size: 1.5em; background: yellow;}


  #sidebar .featured {border: 1px solid #87bc44; background: #fff; padding: 2px 5px; margin: 10px -3px;}
    #sidebar .featured img {vertical-align: middle; padding: 1px 0 1px 7px;}

  #sidebar .notify {border: 1px solid #87bc44; background: #fff; padding: 2px 5px; font-weight: bold; margin: 10px -3px;text-align: center; line-height: 1.5; padding: 5px 0;}
  #sidebar .notify .join {font-size: 1.5em; background: yellow;}

  #sidebar .actions { background:#FFFFFF none repeat scroll 0%; border:1px solid #87BC44; margin:10px -3px; padding:2px 5px; }


#content #doingForm {margin: 0 15px 30px 0}
#content #doingForm .bar {line-height: 2.5em; position: relative; padding-left: 10px; margin: 0px}
#content #doingForm .bar h3 {font: normal 1.5em/1.5 Helvetica, Arial, sans-serif; color: #000; padding: 5px 170px 0 0;}
#content #doingForm .bar span {font-size: 0.92em; display: block; position: absolute; top: 0; right: 10px;}
#content #doingForm .bar span#submit_loading {padding-top:.3em;}
#content #doingForm textarea {width: 100%; margin:0; padding: 9px; height: 50px; width:490px;border-color: #9c0; font: 1.15em/1.1 Helvetica, Arial, sans-serif; background: #fff; overflow:hidden;}
#content #doingForm .submit {background: url(http://asset.jiwai.de/img/arr.gif) no-repeat top center; padding-top: 16px; height:40px; text-align:center}

#content .tabMenu {width: 100%; padding: 0 0 0px; text-align: right; margin: 15px -15px -9px; border: 0;position:relative}
#content .tabMenu li {display: inline; margin: 0; border: 0;}
#content .tabMenu li a {display: inline; padding: 4px 20px 4px 20px; background: #E1F0B4;}
#content .tabMenu li.active a {background: #91C100; color: #fff;font-weight:bold}
#content .tab {background: transparent; padding: 0;}
#content .tab #ad {text-align: center;}
#content .tab p {text-indent: 1em;}
#content .doing {margin:0; padding: 0 0px 1em; font-size: 1.2em; line-height: 1.1; width: 100%;}
#content .doing td {vertical-align: middle;}
#content .doing .thumb {padding: 6px 5px 2px 4px; width: 50px;}
#content .doing .thumb img {border: 1px solid #999;}
#content .doing .meta {font-size: 0.80em;}
#content .doing .meta img {vertical-align: top;}
#content .doing .user_actions {vertical-align: top; width: 16px;}

/* 9 + mid + 7 */
.layout_table {margin:0; padding:0;}
.bg_tab_top_left {padding:0px; width:9px; height:35px; background: transparent url(http://asset.jiwai.de/img/bg_tab_top_left.gif) no-repeat top right;}
.bg_tab_top_mid {height:35px; background: url(http://asset.jiwai.de/img/bg_tab_top_mid.gif) repeat-x 0 0; }
.bg_tab_top_right {padding:0px; width:7px; height:35px; background: url(http://asset.jiwai.de/img/bg_tab_top_right.gif) no-repeat 0 0; }

.bg_tab_top_mid h2 {vertical-align:bottom} /* FIXME 文字太考上了，这行无效 */
.bg_tab_top2_left {padding:0px; width:9px; height:22px; background: #F0F7D9 url(http://asset.jiwai.de/img/bg_tab_top2_left.gif) no-repeat top right;}
.bg_tab_top2_right {padding:0px; height:22px; background: #F0F7D9 url(http://asset.jiwai.de/img/bg_tab_top2_right.gif) repeat-x 0 0; }


.even {background-color:#E1F0B4;}
.odd {background-color:#F0F7D9;}



.jiwai_icon_vtab {border:0; padding: 2px 2px 2px 16px; background: #F0F7D9 url(http://asset.jiwai.de/img/icon_jiwaide_vertical.gif) no-repeat scroll 2px 8px; text-align: left; line-height:0} 
.jiwai_icon_vtab_inner {margin:0; padding:50px; border:1px solid #f00; border-right:0; overflow:hidden}

.buttonSubmit, .buttonSubmitHovered {
	background:transparent url(http://asset.alpha.jiwai.de/img/form/button_big.gif) no-repeat scroll left top;
	border:medium none;
	color:#FFFFFF;
	cursor:pointer;
	font-weight:bold;
	height:50px;
	padding:2px 5px;
	width:140px;
}
.buttonSubmitHovered {
	background-position:left bottom;
}


.pagination {
	margin-top: 10px;
	float: right;
}
.pagination li {
	float: left;
	padding: 0 7px;
}

.statuses_options {
	padding: 5px;
	margin-top:10px;
	width: 60px;
}

.rss {
	background:transparent url(http://asset.jiwai.de/img/rss.gif) no-repeat scroll 90% 50%;
	padding:5px 23px 5px 8px;
	right:0pt;
	text-decoration:none;
	text-transform:uppercase;
	top:16px;
}

#footer { position:relative;margin:0 auto;padding:18px 0;width:100%;background:#FFF url(http://asset.jiwai.de/img/ft_bg.gif) repeat-x 0 0 ;color:#333;font-size:11px;clear:both;}
  #footer a:link {color:#333;text-decoration:none;}
  #footer a:visited {color:#444;text-decoration:none;}
  #footer a:hover {color:#222;}
  #footer .rss {position:absolute;right:0;top:16px;padding:5px 23px 5px 8px;display:block;background:#84AF00 url(rss.gif) no-repeat 90% 50%;color:#FF9;text-transform:uppercase;text-decoration:none;}
  #footer .more {position:absolute;right:7.5em;top:16px;padding:5px 23px 5px 8px;display:block;background:#505F23 url(expand.gif) no-repeat 93% 50%;color:#FF9;text-decoration:none;}
  #footer ul {text-align: center; }
  #footer ul li { display: inline; padding: 10px }


  body.normal #flaginfo {background: url(http://asset.jiwai.de/img/flag.gif) no-repeat 0 0;position:absolute;left:50%;top:105px;margin-left:-499px;text-align:right;width:89px;height:26px;color:#FFF;text-transform:uppercase;font-size:11px;padding:2px 4px 0 0;font-weight:bold;}

#content h2.thumb {
	font-size:3em;
}
h2.thumb, h2.thumb a {
	color:#000000;
}
#content div.desc {
	background:transparent url(http://asset.alpha.jiwai.de/img/arr2.gif) no-repeat scroll 14px 0px;
	margin-top:6px;
	padding-top:11px;
}

#content div.desc .meta {
	font-size:1em;
	font-weight:normal;
	padding:2px 7px;
	text-align:right;
}

#content div.desc h1 {
	margin-right: 15px;
	display:block;
	font-size:2.12em;
	font-weight:bold;
	line-height:1.2em;
	padding:7px;
	background: #f0f7d9;
}
#content div.desc p {
	background:#F0F7D9 none repeat scroll 0%;
	display:block;
	font-size:2em;
	font-weight:bold;
	line-height:1.5em;
	padding:7px;
	margin-right: 15px;
}


/* Account Setting start... */
.not_verified {
	background-color:#FFC;
}
.device .thumb img {
border:1px solid gray;
}

.subpage #content h1, .subpage #content h2, .subpage #content h3, .subpage #content h4, .subpage #content h5 {
	margin:13px 0pt 4px;
}
h1, h2, h3, h4, h5 {
font-weight:normal;
}

.subpage #content tr.not_verified code {
	color:green;
	display:block;
	font-size:2em;
	font-weight:bold;
	text-align:center;
}
/* Account Setting end */

#ad {
	padding:0px 0pt 5px 321px;
}

