<?xml version="1.0"?>
<config>
    <javascript>
		<default>Nova.Core, Nova.Compat, Nova.Behavior, Nova.Dialog</default>
		<fx>Nova.Core, Nova.Compat, Nova.Dialog</fx>
    </javascript>
    <meta>
    	<keywords>
			叽歪de,叽歪的,叽歪地,唧歪de,唧歪的,唧歪地,叽叽歪歪,唧唧歪歪,这一刻,你在做什么,tiny blog, blog, im nick, nick, log
		</keywords>
		<description>
			叽歪de － 这一刻，你在做什么？
		</description>
		<title>
			叽歪de － 这一刻，你在做什么？
		</title>
		<alternate>
			http://feeds.feedburner.com/jiwai
		</alternate>
    </meta>
    <db>
		<host>10.1.30.10</host>
		<username>root</username>
		<passwd></passwd>
		<dbname>jiwai</dbname>
	</db>
	<directory>
		<queue>
			<root>/var/cache/tmpfs/jiwai/queue/</root>
			<tmp>tmp/</tmp>
			<robot>robot/</robot>
			<msn>msn/</msn>
			<sms>sms/</sms>
			<gtalk>gtalk/</gtalk>
			<newsmth>newsmth/</newsmth>
		</queue>
		<quarantine>
			<root>/var/cache/tmpfs/jiwai/quarantine/</root>
			<robot>robot/</robot>
			<msn>msn/</msn>
			<sms>sms/</sms>
			<gtalk>gtalk/</gtalk>
			<newsmth>newsmth/</newsmth>
		</quarantine>

		<mo>mo/</mo>
		<mt>mt/</mt>

		<storage>
			<root>/opt/storage/jiwai/</root>
			<user>user/</user>
			<picture>picture/</picture>
		</storage>
		<mail>
			<template>/opt/jiwai.de/config/template/mail/</template>
		</mail>
		<mutex>/var/cache/tmpfs/jiwai/mutex/</mutex>
	</directory>
	<spf>v=spf1 ip4:211.99.222.0/24 ip4:211.157.100.0/24 ip4:211.151.89.0/24 a mx -all</spf>
</config>
