SUBJECT: %Friend.nameScreen%希望您加入叽歪de！
FROM: %Friend.nameFull% <wo@jiwai.de>

<html>
<p>
%User.nameFull%您好！
</p>


<p>%Friend.nameFull% (%Friend.nameScreen%) 希望您加入叽歪de！</p>

<p>点击这里开始：
	<br /><br />
	<a href="http://JiWai.de/wo/invitation/%INVITATION_ID%" target="_blank">http://JiWai.de/wo/invitation/%INVITATION_ID%</a>
</p>

<p>或者您也可以来这里看看%Friend.nameFull%的最新动态：
	<br /><br />
	<a href="http://JiWai.de/%Friend.nameScreen%/" target="_blank">http://JiWai.de/%Friend.nameScreen%/</a>
</p>

<p>
耶！
<br /><br />
叽歪de
</p>
</html>
