SUBJECT: 您成为了%Friend.nameScreen%的最新好友！
FROM: 叽歪de <wo@jiwai.de>

<html>
<style type="text/css">
.ad { color:#888 }
</style>

<p>
%User.nameFull%您好！
</p>


<p>%Friend.nameFull% (%Friend.nameScreen%) 刚刚将您添加为她(他)的好友了！</p>

<p>在这里可以了解%Friend.nameFull%的最新动态：
	<br /><br />
	<a href="http://JiWai.de/%Friend.nameScreen%/" target="_blank">http://JiWai.de/%Friend.nameScreen%/</a>
</p>

<p>您也可以来这里将%Friend.nameFull%添加为您的好友：
	<br /><br />
	<a href="http://JiWai.de/%Friend.nameScreen%/" target="_blank">http://JiWai.de/%Friend.nameScreen%/</a>
	<br /><br />
	然后点击“添加”。
</p>

<p>
耶！
<br /><br />
叽歪de
</p>

<p class="ad">
--<br />
您可在<a href="http://JiWai.de/wo/account/notifications" target="_blank">http://JiWai.de/wo/account/notifications</a>关闭邮件通知<br />
</p>

</html>
