SUBJECT: %Friend.nameScreen%从%Friend.Device%发送给您的站内消息
FROM: %Friend.nameFull% <wo@jiwai.de>

<html>
<style type="text/css">
.ad { color:#888 }
</style>

<p>
%DirectMessage.status%
</p>

<p>
%Friend.nameFull%
</p>

<p class="ad">
--<br>
订阅我：<a href="http://JiWai.de/%Friend.nameScreen%/" target="_blank">http://JiWai.de/%Friend.nameScreen%/</a><br />
在网站上回复我：<a href="http://JiWai.de/wo/direct_messages/create/%Friend.nameScreen" target="_blank">http://JiWai.de/wo/direct_messages/create/%Friend.nameScreen</a><br />
通过手机或聊天软件回复我：发送“D %Friend.nameScreen% <i>您想说的话</i>”<br />
您可在<a href="http://JiWai.de/wo/account/notifications" target="_blank">http://JiWai.de/wo/account/notifications</a>关闭邮件通知<br />
</p>

</html>
