			<li class="FeaturedImage">
				<a href="http://e.jiwai.de/cbc2007/" target="_blank"><img title="叽歪de× 1中文网志年会"  height="25" src="http://blog.jiwai.de/images/jiwaicbc.gif" /></a>
			</li>			
                        <li class="FeaturedImage">
				<a href="/wo/bindother/" target="_blank"><img title="绑定 Twitter" height="25" src="http://blog.jiwai.de/images/twitterbind.gif" /></a>
			</li>
			<li class="FeaturedImage">
				<a href="/wo/devices/im/" target="_blank"><img title="绑定 Yahoo" height="25" src="http://blog.jiwai.de/images/yahoobind.gif" /></a>
			</li>
<li>
				<a href="http://blog.jiwai.de/2007/08/office.html#links" target="_blank">叽歪有新office啦</a>
			</li>
<li>
				<a href="http://blog.jiwai.de/2007/07/deskypeim.html#links" target="_blank">QQ/MSN/Gtalk签名</a>
			</li>			<li>
				<a href="http://blog.jiwai.de/2007/07/deskypeim.html#links" target="_blank">叽歪支持skype更新</a>
			</li>			<li>
				<a href="http://blog.jiwai.de/2007/06/de_18.html#links" target="_blank">可以自定义界面啦</a>
			</li>			<li>
				<a href="http://lab.jiwai.de/googlemap/" target="_blank">叽歪de大中国地图</a>
			</li>